@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');

header #site-text-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 39px;
  line-height: 39px;
  letter-spacing: -2px;
}

.google-adsense .google-adsense-label { display: none; }
