@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');

header #site-text-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  line-height: 141%;
}

.google-adsense .google-adsense-label { display: none; }
