@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');

header #site-text-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.google-adsense .google-adsense-label { display: none; }
