#top-bar {
    background: $tertiary;
    color: $secondary;
    
    a {
        color: $secondary;
    }
    
    .brand-text-logo {
        display: block;
        float: left;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        margin: 1px 10px -1px 0;
    }
}

#top-menu {
    float: left;
    margin-bottom: 0;
    margin: 1px 0 -1px 10px;
        
    > li > a {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bolder;
        box-shadow: none;
        
        &:hover {
            background-color: darken($tertiary, 10%);
        }
    }
}

.d-header {
    top: auto;
}

.docked .d-header {
    top: 0;
}
